.ml--15{
    margin-left: -15px;
}
.progress-bar {
    position: relative;
    margin: auto;
    background-color: transparent;
    max-width: 100%;
    margin: auto 15px;
    float: none;
    height: auto;
    margin-bottom: 30px !important;
    padding: 0 15px;
}
.progress-step-number{
    width: 30px; 
    height: 30px; 
    position: absolute; 
    left: -15px; 
    top: 50%; 
    transform: translateY(-50%); 
    border-radius: 50%; 
    line-height: 30px; 
    background-color: #ccc;
    color: #FFF; 
    font-size: 14px; 
    font-weight: 900;
    transition: background-color .3s;
    transition-delay: .7s;
}
.progress-step-number.show{
    background-color: #07a3ee;
}
@media (min-width: 600px){
.progress-bar {
    width: 560px;
    margin: auto;
}

.bigger {
    font-size: 18px;
}
}

@media (min-width: 900px){
.progress-bar {
    width: 845px;
}
}

@media (min-width: 1200px){
.progress-bar {
    width: 970px;
}
}

.progress-bar-label{
	font-size: 14px;
	text-align: center;
	color: #4a4a4a;
	margin-bottom: 15px;
	line-height: 2;
}

.progress-bar-inner{
	width: 100%;
	height: 6px;
	position: relative;
	background-color: #ccc;
    margin-bottom: 30px;
}

.progress-bar-filled{
	width: 100%;
	height: 6px;
	background-color: #07a3ee;
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 6px;
    margin: auto;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    transition: transform .7s ease-out,-webkit-transform .7s ease-out;
}






/* .step-component{

	display: none;

}

.step-component.active{

	display: block;

} */